.single-post img {
    max-width: 600px !important;
    height: auto;
    width: 100%;
}

.post-entry-2 .post-meta {
    justify-content: space-between;
    display: flex;
    margin-top: 4px;
}

.post-meta.single-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.post-meta.all-posts {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 15px;
}

@media only screen and (min-width: 767px) {
    .additional-padding {
        padding-right: 45px;
    }
}
