.card-title h4 {
    font-size: 30px !important;
}

textarea#content {
    height: 100px;
    line-height: 20px;
}

.ck-editor__editable {
    min-height: 250px; /* Set the height you want */
}

/* Posts index */

.img-thumbnail {
    width: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
    object-fit: cover !important;
    max-height: 40px !important;
    min-height: 40px!important;
    max-width: 100px !important;
}