/* Navbar */

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .nav-mobile {
        width: 100%;
        display: inline-block;
        list-style-type: none;
        text-align: center;
    }

    .nav-mobile li {
        display: inline-block;
        margin: 20px 15px 0 0;
        font-size: 15px;
    }

    .nav-mobile a.nav-link.active {
        color: #1F3BB3;
    }
}

.card-title h4 {
    font-size: 30px !important;
}

textarea#content {
    height: 100px;
    line-height: 20px;
}

.ck-editor__editable {
    min-height: 250px; /* Set the height you want */
}

/* Posts index */

.img-thumbnail {
    width: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
    object-fit: cover !important;
    max-height: 40px !important;
    min-height: 40px!important;
    max-width: 100px !important;
}

.post-listing-title {
    text-decoration: none;
}